*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
background: linear-gradient(180deg, rgba(255, 255, 255, 0.26) 0%, rgba(255, 255, 255, 0.38) 100%);
}
header{
    padding: 54px 134.5px;

}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation_panel{
    display: flex;
    align-items: center;
    gap: 60px;
}
.list_navbar{
    display: flex;
    list-style-type: none;
    gap: 60px;
}
.list_navbar>li>a{
text-decoration: none;
font-family: Rubik;
font-size: 18px;
font-weight: 400;
line-height: 21.33px;
color:#363853;
transition: all 0.5s;
}
.list_navbar>li>a:hover{
    color: #FF6838;
    transition: all 0.5s;
    transform: scale(1.1);
}
.buyer_wrapper{
    position: relative;
}
.buy_count{
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: #FF6838;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.buy_count>p{
    font-family: Rubik;
font-size: 10px;
font-weight: 400;
line-height: 11.85px;
color:white;
}
.sing_up{
    width: 120px;
    height: 50px;
    border: none;
    background-color: #FF7A50;
    border-radius: 5px;
    box-shadow: 0px 22px 40px 0px #FF683830;
    font-family: Rubik;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.33px;
    text-align: center;
      color: white;
      transition: all 1s;    
}
.sing_up:hover{
    transition: all 1s;
    box-shadow: 0px 30px 40px 0px #ff67388d;
}
.super_fast{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px auto 0;
    
}
.qw>h1>span{
    color: #FF7A50;
    
}
.qw>h1{
font-family: Rubik;
font-size: 66px;
font-weight: 500px;
line-height: 78.21px;
text-align: left;
width: 570px;

}
.qw>p{
    font-family: Rubik;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    
}
.qw{
    display: flex;
    flex-direction: column;
    gap: 23px;
}
.button{
    display: flex;
    align-items: center;
    gap: 30px ;
}
.button>button{
    border-radius: 5px;
    border: none;
    background-color: #FF6838;
    padding: 13px 21px;
    color: white;
    box-shadow: 0px 22px 40px 0px #FF683830;
    font-family: Rubik;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.7px;
    text-align: center;
}
.button>a{
    color: #363853;
    font-family: Rubik;
font-size: 20px;
font-weight: 400;
line-height: 23.7px;
text-align: center;

}    
main{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.delivery{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 200px 0px 100px;
}
.stay{
    display: flex;
    flex-direction: column;
    gap: 150px;

}
.stay>h1{
    font-family: Rubik;
font-size: 36px;
font-weight: 500;
line-height: 50px;
text-align: left;
color: #FF6838;
width: 384px;

}
.stay>h1>span{
    font-family: Rubik;
font-size: 36px;
font-weight: 500;
line-height: 50px;
text-align: left;
color: #363853;
}
.stay>p{
    font-family: Rubik;
font-size: 20px;
font-weight: 400;
line-height: 30px;
text-align: left;
width: 449px;
color: #363853;
}
.stay>button{
    background-color: #FF6838;
    font-family: Rubik;
font-size: 20px;
font-weight: 400;
line-height: 23.7px;
text-align: left;
color: white;
width: 176px;
border: none;
height: 58px;
border-radius: 30px 30px 1px 30px;
text-align: center;
box-shadow: 0 22px 40px 0 #FF683830;
}
.stay>button:hover{
    box-shadow: 0 40px 50px 0 #FF683830;
}
.Restaraunt{
    padding:0 115px 0 156px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.Restaraunt>h2{
    font-family: Rubik;
font-size: 36px;
font-weight: 500;
line-height: 30px;
text-align: left;
color: #363853;
}
.Restaraunt>h2>span{
    font-family: Rubik;
font-size: 36px;
font-weight: 500;
line-height: 30px;
text-align: left;
color: #FF6838;
}
.container{
    display: flex;
    flex-wrap: wrap;
    gap: 43px;
}
.container>div{
    display: flex;
    flex-direction: column;
    gap: 23px;
    width: 361px;
    height: 417px;
background-color: floralwhite;
border-radius: 53px 5px;
}
.container>div>div>h3{
    font-family: Rubik;
font-size: 24px;
font-weight: 400;
line-height: 30px;
text-align: left;
color: #363853;
}
.container>div>div{
    display: flex;
justify-content: space-between;
align-items: center;
padding: 0px 39px 0 20px;
}
.container>div>div>div{
    display: flex;
    align-items: center;
    gap: 5px;
}
.container>div>div>button{
    background-color: #FF6838;
    padding: 2px 24px;
    border: none;
    border-radius: 30px 30px 5px 30px;
    box-shadow: 0 4px 30px 20px #FF683830;
}
.mobile_app_wrapper{
    display: flex;
    padding: 5px 200px 0px 200px;
    justify-content: space-between;
    align-items: center;
}
.mobile_app_wrapper>div{
display: flex;
flex-direction: column;
gap: 30px;
justify-content: center;
}
.mobile_app_wrapper>div>h3{
    font-family: Rubik;
font-size: 36px;
font-weight: 500;
line-height: 50px;
text-align: left;
color: #363853;
}
.mobile_app_wrapper>div>h3>span{
    font-family: Rubik;
font-size: 36px;
font-weight: 500;
line-height: 50px;
text-align: left;
color: #FF6838;
}
.mobile_app_wrapper>div>p{
    font-family: Rubik;
font-size: 20px;
font-weight: 400;
line-height: 30px;
text-align: left;
color: #363853;
width: 538px;
}
.mobile_app_wrapper_1{
    display: flex;
    gap: 35px;
}
.mobile_app_wrapper_apple{
    background-color: black;
    display: flex;
    align-items: center;
    gap: 6px;
    border-radius: 10px;
    border: 1px solid #363853;
    padding: 7px 5px;
}
.mobile_app_wrapper_apple>div>p{
font-family: Rubik;
font-size: 8px;
color: white;
}
.mobile_app_wrapper_apple>div>h5{
    font-family: Rubik;
    font-size: 14px;
    color: white;
}
.mobile_app_wrapper_google{
    background-color: black;
    display: flex;
    align-items: center;
    gap: 6px;
    border-radius: 10px;
    border:1px solid #363853;
    padding: 7px 5px;
}
.mobile_app_wrapper_google>div>p{
    font-family: Rubik;
    font-size: 8px;
    color: white;
}
.mobile_app_wrapper_google>div>h5{
    font-family: Rubik;
    font-size: 14px;
    color: white;  
}
.button_1{
display: flex;
justify-content: center;
}
.container_1{
    width: 75%;
    height: 312px;
    background-color: #FF6838;
display: flex;
flex-direction: column;
justify-content: space-between;
padding: 59px 165px;
align-items: center;
border-radius: 30px;
}
.container_1>div>h1{
    font-family: Rubik;
font-size: 40px;
font-weight: 500;
line-height: 47.4px;
text-align: center;
color: white;
}
.input{
    Width:
838.5px;
Height:
78px;
background-color: #fff;
border-radius: 50px;
display: flex;
justify-content: space-between;
padding: 10px 10px 10px 40px;
}
.input>input{
    border: none;
    outline: none;
    width: 300px;
    font-family: Rubik;
font-size: 18px;
font-weight: 400;
line-height: 30px;
text-align: center;

}
.input>button{
    border: none;
    background-color: #FF6838;
    border-radius: 30px;
    width: 200px;
    font-family: Rubik;
font-size: 20px;
font-weight: 500;
line-height: 30px;
text-align: center;
color: white;
}
footer{
    padding: 108px 150px 75px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer h2{
    font-family: Rubik;
font-size: 14px;
font-weight: 400;
line-height: 14px;
text-align: left;
color: #646464;
}
footer ul{
    display: flex;
    align-items: center;
    gap: 50px;
    list-style-type: none;
}
footer ul li{
    font-family: Rubik;
font-size: 14px;
font-weight: 400;
line-height: 14px;
text-align: left;
color: #646464;
}